<section class="defult-section">
  <div class="services-section justify-content-start">
    <div class="container header-services">
      <div class="row justify-content-evenly">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 header-services-item">
          <img class="header-service-item-img" src="./assets/images/openTalk-Icon12.png">
          <h4 class="header-service-item-title font-weight-bold">فضای آزاد</h4>
          <p class="header-service-item-dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است.
            چاپگرها
            و
            متون</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 header-services-item">
          <img class="header-service-item-img" src="./assets/images/openTalk-Icon12.png">
          <h4 class="header-service-item-title font-weight-bold">محیط دوستانه</h4>
          <p class="header-service-item-dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است.
            چاپگرها
            و
            متون</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 header-services-item">
          <img class="header-service-item-img" src="./assets/images/openTalk-Icon12.png">
          <h4 class="header-service-item-title font-weight-bold">بیان افکار و احساسات</h4>
          <p class="header-service-item-dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است.
            چاپگرها
            و
            متون</p>
        </div>
      </div>
    </div>
    </div>
</section>