<section class="black-section footer-section" [ngClass]="{'footer-fix':footerType ==='fix'}">
  <div class="row justify-content-around">
    <div class="col-lg-4 col-sm-4 col-12 text-right footer-details">
      در این اپلیکیشن هر کس درد دل‌ها و افکار خود را آزادانه در قالب پست بیان می‌کند. این پست بار‌ها برای کاربران
      دیگر نمایش داده شده و همه می‌توانند نظر خود را درباره‌ی آن پست بنویسند
    </div>
    <div class="footer-logo col-lg-4 col-sm-4 col-12 text-lg-center text-center">
      <a href="/">
        <img src='./assets/images/openTalk-logo2.png'>
      </a>
    </div>
    <div 
      class="col-lg-4 col-sm-4 col-12 doawnload-ways align-items-lg-end text-left align-self-center justify-content-center d-flex flex-column">
      <div class="position-relative d-flex justify-content-center">
        <div class="row text-left">
          <div class="col-lg-12 col-md-6 col-6">
            <a target="_blank" href="https://tracker.metrix.ir/up44na">
              <img  class="download-ways-btn bazar-way light"
                src='./assets/images/googlePlay-light.png'>
              <img  class="download-ways-btn bazar-way dark"
                src='./assets/images/googlePlay-dark.png'>
            </a>
          </div>
          <div class="col-lg-12 col-md-6 col-6 mt-lg-2">
            <a target="_blank" href="https://tracker.metrix.ir/93ilcf">
              <img  class="download-ways-btn bazar-way light"
                src='./assets/images/bazaar-light.png'>
              <img  class="download-ways-btn bazar-way dark"
                src='./assets/images/bazaar-dark.png'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>