<section class="green-section rounded-bottom-right">
  <div class="header-section justify-content-start">
    <div class="white-section header-section-container rounded-bottom-left">
      <div class="row header-first-row">
        <div class="col-5">
          <img class="header-section-logo" src="./assets/images/openTalk-logo01.png" alt="openTalkz">
        </div>
        <div class="download-rappwer col-7">
          <button target="_blank" href="https://tracker.metrix.ir/go3gos"
            class="btn btn-primary btn-rounded border-0" type="submit">دانلود
            مستقیم</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12 header-application-info">
          <h1 class="title">بیان‌آزاد</h1>
          <span class="title-des mt-4">اپلیکیشن «بیان آزاد» فضایی است آزاد برای به اشتراک گذاری افکار</span>
          <p class="title-des2">در این اپلیکیشن هر کس درد دل‌ها و افکار خود را آزادانه در قالب پست بیان می‌کند. این
            پست بار‌ها برای
            کاربران دیگر نمایش داده شده و همه می‌توانند نظر خود را درباره‌ی آن پست بنویسند</p>
          <div class="row doawnload-ways justify-content-end text-lg-left text-md-center text-sm-center mt-lg-5">
            <div class="col-lg-4 col-6">
                <a target="_blank" href="https://tracker.metrix.ir/93ilcf">
                  <img class="download-ways-btn bazar-way" src="./assets/images/bazaar-dark.png" alt="openTalkz">
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a target="_blank" href="https://tracker.metrix.ir/up44na">
                  <img class="download-ways-btn google-way" src="./assets/images/googlePlay-dark.png"
                    alt="openTalkz">
                </a>
            </div>
          </div>
        </div>
        <div class="header-mobile-container col-lg-5 col-md-6 col-sm-12">
          <img class="header-mobile-application img-responsive img-fluid" src="./assets/images/mobile.png"
            alt="openTalkz">
        </div>
      </div>
    </div>
  </div>
</section>