<div class="comment-card">
    <div class="comment-card-content">
        {{comment.content}}
    </div>
    <div class="comment-card-footer row">
        <div class="col">
            <span class="ml-3"><i class="fa fa-eye ml-1"></i>
                {{comment.view_count}}
            </span>
            <span> <i class="fa fa-comment ml-1"></i>
                {{comment.comments.length}}</span>
        </div>
        <div class="col align-self-end text-left">
            <i class="fa fa-calendar-o ml-1"></i>
            {{comment.created_time  | messageTime}}
        </div>
    </div>
</div>