<section class="defult-section">
  <div class="feature-section justify-content-end ">
    <div class="white-section rounded-right feature-section-wrapper">
      <div class="container">
        <div class="row">
          <div class="section-title col-12 text-center">
            <h2 class="section-title-lable">ویژگی ها</h2>
          </div>
          <div class="feature-list-container col-lg-6 col-md-12 col-sm-12 text-right">
            <ul class="feature-list">
              <li class="feature-list-item row">
                <div class="col-2">
                  <img src="./assets/images/opentalk-icon2.png">
                </div>
                <div class="col-10">
                  <h4>
                    نوشتن و ارسال پست به سادگی
                  </h4>
                  <p class="feature-list-item-dis">در «بیان آزاد» به راحتی بدون لاگین کردن و به صورت کاملا اتوماتیک،
                    می‌توانید هر آنچه در فکر
                    دارید
                    و
                    هر
                    احساسی که در مورد کسی یا چیزی دارید به راحتی نوشته و با فشردن یک دکمه در معرض دید و قضاوت بقیه
                    کاربران
                    قرار دهید.</p>
                </div>
              </li>
              <li class="feature-list-item row">
                <div class="col-2">
                  <img src="./assets/images/opentalk-icon2.png">
                </div>
                <div class="col-10">
                  <h4>
                    گرفتن نظرات مختلف از کابران
                  </h4>
                  <p class="feature-list-item-dis">با نوشتن پست‌هایتان، امکان دریافت نظرات متعدد از هزاران کاربری که
                    در این فضا هستند را خواهید
                    داشت.
                  </p>
                </div>
              </li>
              <li class="feature-list-item row">
                <div class="col-2">
                  <img src="./assets/images/opentalk-icon2.png">
                </div>
                <div class="col-10">
                  <h4>
                    امکان تبادل نظر با کابران
                  </h4>
                  <p class="feature-list-item-dis">با دریافت نظرات کاربران امکان تبادل نظر با همه آنها را به آسانی
                    خواهید داشت. نظراتی که بعضا
                    می‌تواند
                    گاهی کمک کننده و هموار کننده مسیرتان باشد.</p>
                </div>
              </li>
              <li class="feature-list-item row">
                <div class="col-2">
                  <img src="./assets/images/opentalk-icon2.png">
                </div>
                <div class="col-10">
                  <h4>
                    دسترسی آسان به پست‌های خود
                  </h4>
                  <p class="feature-list-item-dis">به راحتی هر چه تمام‌تر به همه پست‌های ارسالیتان دسترسی داشته و
                    امکان مشاهده بازخوردها و نظرات
                    جدید
                    را
                    در هر \ست خواهید داشت.</p>
                </div>
              </li>

            </ul>
          </div>
          <div class="feature-img-container col-lg-6 col-md-12 col-sm-12 text-left align-self-end">
            <img class="img-fluid img-responsive" src="./assets/images/mobile2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>