<section class="green-section">
  <div class="comment-section justify-content-start">
    <div class="gray-section rounded-bottom-left comment-section-container">
      <div class="row comment-first-row mb-3">
        <div class="col-5">
          <img class="comment-section-logo" src="./assets/images/openTalk-logo01.png" alt="openTalkz">
        </div>
      </div>
      <app-comment-card></app-comment-card>
      <div class="mt-2 p-1">
        نظرات شما:
      </div>
      <app-response-comment-card></app-response-comment-card>
      <app-response-comment-card></app-response-comment-card>
    </div>
  </div>
</section>
<app-footer footerType="fix"></app-footer>