<section class="defult-section">
  <div class="screnshot-section text-center ">
    <div class="container">
      <div class="row">
        <div class="col-12 section-title text-center">
          <h3 class="section-title-lable">اسکرین شات</h3>
          <p class="section-title-description mt-2"> در زیر برای آشنا شدن با فضای اپلیکیشن، برخی از صفحات داخلی با
            شما
            به
            اشتراک گذاشته می‌شود</p>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-3 col-6 px-md-0">
          <img class="header-service-item-img img-responsive img-fluid" src="./assets/images/screenshot1.png">
        </div>
        <div class="col-lg-3 col-6 px-md-0">
          <img class="header-service-item-img img-responsive img-fluid" src="./assets/images/screenshot2.png">
        </div>

        <div class="col-lg-3 col-6 px-md-0">
          <img class="header-service-item-img img-responsive img-fluid" src="./assets/images/screenshot3.png">
        </div>
        <div class="col-lg-3 col-6 px-md-0">
          <img class="header-service-item-img img-responsive img-fluid" src="./assets/images/screenshot4.png">
        </div>
      </div>
    </div>
  </div>
</section>