@import "../../../scss/main";

.user-post-section {
  //change ngx
  /deep/ .carousel {
    .carousel-item {
      padding: 60px 0px;
      min-height: 299px;
      @include responsive(sm) {
        font-size: 13px;
        min-height: 200px;
        padding: 30px 0px;
      }
      @include responsive(sm) {
        font-size: 13px;
        min-height: 200px;
        padding: 30px 0px;
      }
      &.active {
        -webkit-animation: slideInLeft 1.4s;
        -moz-animation: slideInLeft 1.4s;
        -ms-animation: slideInLeft 1.4s;
        -o-animation: slideInLeft 1.4s;
        animation: slideInLeft 1.4s;
      }
    }
    .carousel-indicators {
      li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
    .carousel-control-next {
      right: -100px;
    }
    .carousel-control-prev {
      left: -100px;
    }
  }
  ///*****
  margin-top: 10em;
  padding: 40px 280px;
  @include responsive(sm) {
    padding: 35px 0;
    margin-top: 3em;
  }
  @include responsive(xsm) {
    padding: 35px 0;
    margin-top: 3em;
  }
  @include responsive(md) {
    padding: 35px 0;
  }
  .section-title-lable {
    font-weight: bold;
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}