@import "../../../scss/main";
.user-post-section {
    margin-top: 10em;
    padding: 40px 280px;
    @include responsive(sm) {
      padding: 35px 0;
      margin-top: 3em;
    }
    @include responsive(xsm) {
      padding: 35px 0;
      margin-top: 3em;
    }
    @include responsive(md) {
      padding: 35px 0;
    }
    .section-title-lable {
      font-weight: bold;
    }
    #carouselExampleIndicators {
      @include responsive(xsm) {
        display: none;
      }
      @include responsive(sm) {
        display: none;
      }
      @include responsive(md) {
        display: none;
      }
    }
    #carouselExampleIndicators2{
        display: none;
        @include responsive(xsm) {
          display: block;
        }
        @include responsive(sm) {
          display: block;
        }
        @include responsive(md) {
          display: block;
        }
    }
    .carousel-item {
      padding: 60px 0px;
      min-height: 299px;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      user-select: none;
      @include responsive(sm) {
        font-size: 13px;
        min-height: 200px;
        padding: 30px 0px;
      }
      @include responsive(sm) {
        font-size: 13px;
        min-height: 200px;
        padding: 30px 0px;
      }
    }
    .carousel-indicators {
      bottom: -31px;
      @include responsive(sm) {
        bottom: -41px;
      }
      @include responsive(sm) {
        bottom: -41px;
      }
    }
  }