<section class="green-section user-post-section rounded-cloudy">
  <div class="container">
    <div class="row">
      <div class="col-12 section-title text-center">
        <h3 class="section-title-lable">تعدادی از پست‌های کاربران</h3>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators ltr">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item row active justify-content-around">
              <div class="col-lg-6 col-md-6 col-12 ">
                <img src="./assets/images/comma.png" style="width: 25px;margin-bottom: 7px;">
                <p> زندگی همهمه مبهمی از ردشدن خاطره هاست،
                  هرکجا خندیدیم،...
                </p>
                <p> هرکجا خنداندیم، زندگانی آنجاست، ...بیخیال همه تلخی ها...</p>
              </div>
              <div class="col-lg-6 col-md-6 col-12 ">
                <img src="./assets/images/comma.png" style="width: 25px">
                <p> می بوسم
                  کنار میگذارم کنار تمام چیزهایی که ندارم را دست هایت را
                  عشقی ات را همه را عادت احمقانه ای ست
                  چسبیدن به چیز هایی که ندارمشان</p>
              </div>
            </div>

            <div class="carousel-item row justify-content-around">
              <div class="col-lg-6 col-md-6 col-12 ">
                <img src="./assets/images/comma.png" style="width: 25px">

                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                  گرافیک است. چاپگرها و متون</p>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <img src="./assets/images/comma.png" style="width: 25px">
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                  گرافیک است. چاپگرها و متون</p>

              </div>
            </div>
          </div>
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators ltr">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item row active justify-content-around">
              <div class="col-12">
                <img src="./assets/images/comma.png" style="width: 25px;margin-bottom: 7px;">
                <p> زندگی همهمه مبهمی از ردشدن خاطره هاست،
                  هرکجا خندیدیم،...
                </p>
                <p> هرکجا خنداندیم، زندگانی آنجاست، ...بیخیال همه تلخی ها...</p>
              </div>
            </div>
            <div class="carousel-item row justify-content-around">
              <div class="col-12 ">
                <img src="./assets/images/comma.png" style="width: 25px">
                <p> می بوسم
                  کنار میگذارم کنار تمام چیزهایی که ندارم را دست هایت را
                  عشقی ات را همه را عادت احمقانه ای ست
                  چسبیدن به چیز هایی که ندارمشان</p>
              </div>
            </div>
            <div class="carousel-item row justify-content-around">
              <div class="col-lg-6 col-md-6 col-12 ">
                <img src="./assets/images/comma.png" style="width: 25px">

                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                  گرافیک است. چاپگرها و متون</p>
              </div>
            </div>
            <div class="carousel-item row justify-content-around">
              <div class="col-lg-6 col-md-6 col-12">
                <img src="./assets/images/comma.png" style="width: 25px">
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                  گرافیک است. چاپگرها و متون</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>